<div class="container">
  <div class="comment">
    <comment
      class="coments-container"
      *ngFor="let comment of comments"
      [comment]="comment"
      (addComment)="addComment($event)"
      (deleteComment)="deleteComment($event)"
    >
    </comment>
  </div>
  <div class="replycomment comment"></div>
  <div class="comment author-replied"></div>
  <div class="authorcom"></div>

  <comment-form
    submitLabel="send"
    (handleSubmit)="addComment({ text: $event, id: null })"
  ></comment-form>
</div>
