<!-- thees are comments from data -->
<div class="wrap-out">
  <div class="score">
    <img
      src="../../../../assets/images/icon-plus.svg"
      (click)="incrementScore(comment)"
      alt="plus"
      class="exp"
      id=""
    />
    <p class="digit" id="">{{ comment.score }}</p>
    <img
      src="../../../../assets/images/icon-minus.svg"
      (click)="decrementScore(comment)"
      alt="minus"
      class="exp"
      id=""
    />
  </div>
  <div class="wrapper">
    <div class="person">
      <div class="person-wrap">
        <div>
          <img
            [src]="
              '../../../../assets/images/avatars/image-' +
              comment.user.username +
              '.png'
            "
            id="user"
            alt="iconpic"
          />
        </div>
        <div class="namer">
          <p class="name">{{ comment.user.username }}</p>
        </div>
        <div class="dater">
          <p class="date">{{ comment.createdAt }}</p>
        </div>
      </div>
    </div>
    <div class="change">
      <div
        *ngIf="comment.user.username != 'juliusomo'"
        (click)="toggleReplyForm()"
        class="reply"
      >
        <img src="../../../../assets/images/icon-reply.svg" alt="reply" />
        <button class="reply-bt" id="x">Reply</button>
      </div>
      <div
        *ngIf="comment.user.username == 'juliusomo'"
        (click)="deleteComment.emit(comment.id)"
        (click)="togglePopup()"
        class="delete"
      >
        <img src="../../../../assets/images/icon-delete.svg" alt="reply" />
        <button class="delete-bt" id="x">Delete</button>
        <div (click)="toggleEditForm()">
          <img src="../../../../assets/images/icon-edit.svg" alt="reply" />
          <button class="edit-bt" id="x">Edit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="commentary">
    <p class="commentary">{{ comment.content }}</p>
  </div>
  <div class=""></div>
</div>
<comment-form
  *ngIf="showReplyForm"
  submitLabel="reply"
  (handleSubmit)="addComment.emit({ text: $event, id: replyId })"
></comment-form>
<comment-form
  *ngIf="showEditForm"
  submitLabel="update"
  (handleSubmit)="updateComment.emit({ text: $event, id: commentId })"
></comment-form>
<!-- thees are comment replies from data -->
<div class="replycomment comment">
  <div class="wrap-out replies" *ngFor="let reply of comment.replies">
    <div class="score">
      <img
        src="../../../../assets/images/icon-plus.svg"
        (click)="incrementScore(reply)"
        alt="plus"
        class="exp"
        id=""
      />
      <p class="digit" id="">{{ reply.score }}</p>
      <img
        src="../../../../assets/images/icon-minus.svg "
        (click)="decrementScore(reply)"
        alt="minus"
        class="exp"
        id=""
      />
    </div>
    <div class="wrapper">
      <div class="person">
        <div class="person-wrap">
          <div>
            <img
              [src]="
                '../../../../assets/images/avatars/image-' +
                reply.user.username +
                '.png'
              "
              id="user"
              alt="iconpic"
            />
          </div>
          <div class="namer">
            <p class="name"></p>
            {{ reply.user.username }}
          </div>
          <div class="dater">
            <p class="date">{{ reply.createdAt }}</p>
          </div>
        </div>
      </div>
      <div class="change">
        <div *ngIf="reply.user.username != 'juliusomo'" class="reply">
          <img src="../../../../assets/images/icon-reply.svg" alt="reply" />
          <button class="reply-bt" id="x">Reply</button>
        </div>
        <div
          *ngIf="reply.user.username == 'juliusomo'"
          (click)="deleteComment.emit(reply.id)"
          class="delete"
        >
          <img src="../../../../assets/images/icon-delete.svg" alt="reply" />
          <button class="delete-bt" id="x">Delete</button>
          <div (click)="toggleEditForm()">
            <img src="../../../../assets/images/icon-edit.svg" alt="reply" />
            <button class="edit-bt" id="x">Edit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="commentary">
      <p class="commentary">{{ reply.content }}</p>
    </div>
  </div>
</div>
<!-- popup -->
<div class="popup-wrapper" *ngIf="showPopup">
  <div class="popup">
    <div class="popup-content">
      <h2>Delete comment</h2>
      <p>Are you sure you want to delete?</p>
      <div class="pop-div">
        <button class="popup-no" (click)="showPopup = false">No, CANCEL</button>
        <button class="popup-ok" (click)="onDelete()">YES, DELETE</button>
      </div>
    </div>
  </div>
</div>
